$basicColor: #ffffff;
$fontfamily: "Lato", sans-serif;
$backgroundbtn: #998675;
$headersColor: #373737;
$pragrphColor: #b3b1b1f5;
$borderColor: #bc6372;
$fontrelway: "Raleway", sans-serif;
$secborder: #ebebeb;
$iconColor: #d9d9d9;

body {

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.bigbody {
  overflow: hidden;
}

/* Start Home Section */

.home {
  background-image: url("../imgs/home-bg.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  //height: 100vh !important;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.home .navbar {
  padding: 30px 10px;
}

.home .navbar-nav .nav-link {
  padding-right: 1rem !important;
}

.home .nav-item a {
  color: $basicColor;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 13px;
}

.home .navbar img {
  width: 170px;
  position: relative;
  left: 100px;
}

@media (min-width: 300px) and (max-width: 900px) {
  .home .navbar img {
    left: 50px;
  }
}

.home .nav-item .border {
  border: 1px soolid $basicColor;
  position: relative;
  bottom: 18px;
  right: 5px;
}

.home .nav-item button {
  background-color: $backgroundbtn;
  border: none;
  border-radius: 3px;
}

.home .mainlogo img {
  width: 220px;
 // margin-bottom: 2rem;
  position: relative;
  left: 77px;
  bottom: 1.7rem;
}

@media (min-width: 300px) and (max-width: 900px) {
  .home .mainlogo img {
    width: 85px;
    left: -55px;
    position: relative;
  }
}

.home .mainlogo {
  position: relative;
  left: 6rem;
}

.home .contain {
    left: 35rem;
    color: #ffffff;
    position: relative;
    /* left: 80rem; */
    bottom: 27.5rem;
}

@media (min-width: 300px) and (max-width: 900px) {
  .home .contain {
    position: absolute;
    left: 35%;
  }
}

.home .contain h2 {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@media (min-width: 300px) and (max-width: 900px) {
  .home .contain h2 {
    font-size: 1rem;
  }
}

.home .contain p {
  color: $basicColor;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

@media (min-width: 300px) and (max-width: 900px) {
  .home .contain p {
    font-size: 0.5rem;
  }
}

.home .contain .btns button {
  border: none;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 900px) {
  .home .contain .btns button {
    padding: 10px 10px;
  //  margin-right: 0px !important;
   // margin-bottom: 25px;
    font-size: 10px;
  }
}

.home .contain .btns i {
  color: $basicColor;
}

.home .contain .btns .btn1 {
  background-color: $backgroundbtn;
  color: $basicColor;
  border-radius: 3px;
   //margin-right: 1rem;
  padding: 10px 10px;
  border: 0.5px solid $backgroundbtn;
}

.home .contain .btns .btn2 {
  background-color: transparent;
  color: $basicColor;
  border-radius: 3px;
  margin-right: 1rem;
  border: 0.5px solid $basicColor;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.home .contain .btns .btn2:hover {
  background-color: $backgroundbtn;
  border: $backgroundbtn;
  color: $basicColor;
}


.home .owl-dots {
    margin: auto;
    text-align: center;
    display: block !important;
    position: relative;
    bottom: 21rem;
    left: 16px;
  }

  .home .owl-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid $iconColor !important;
    margin: 10px 33px;
    padding: 1px;
    position: relative;
  }

  .home .owl-dot span::after{

    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 10px;
    background-color: #d9d9d9;


  }
  .home  .owl-dot.active {
    background: #fff !important;
    border: 2px solid #ffffff;
   // padding: 5px;
   // width: 12px;
   // height: 12px;
  }

/* End Home Section******************************************************************/

/* Start About Section */

.about .box {
  padding: 10px 0px;
  // background-color: #8F8F8F;
}

.about .box i {
  border: 2px solid $borderColor;
  border-radius: 50%;
  padding: 30px 33px;
  text-align: center;
  position: relative;
  left: 33%;
  font-size: 32px;
  color: $borderColor;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.about .box i:hover {
  background-color: $borderColor;
  border-color: $basicColor;
  color: $basicColor;
}

.about .tittle {
  padding: 15px 0px;
  text-align: center;
}

.about .tittle h4 {
  color: $headersColor;
  text-transform: uppercase;
  font-family: $fontrelway;
  font-weight: 600;
  font-size: 1rem;
}

.about .tittle p {
  font-size: 0.7rem;
  color: $pragrphColor;
  font-weight: 600;
}

/* End About Section **************************************************************/

/* Start blogs Section */

.blogs {
  background-image: url("../imgs/bestapp-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.blogs .image img {
  position: relative;
  top: 3px;
}

.blogs .contant h3 {
  color: $basicColor;
  font-weight: 700;
  font-family: $fontrelway;
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  bottom: 35px;
}

.blogs .contant span {
  color: $pragrphColor;
  font-size: 11px;
  font-weight: 400;
  position: relative;
  bottom: 25px;
}

.blogs .contant p {
  color: $pragrphColor;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 500;
  font-family: $fontfamily;
}

.blogs .contant .btns button {
  border: none;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 900px) {
  .blogs .contant .btns button {
    padding: 10px 15px;
    margin-right: 0px !important;
    margin-bottom: 12px;
    font-size: 10px;
  }
}

.blogs .contant .btns i {
  color: $basicColor;
}

.blogs .contant .btns .btn1 {
  background-color: $backgroundbtn;
  color: $basicColor;
  border-radius: 3px;
  margin-right: 1rem;
  padding: 10px 23px;
  border: 0.5px solid $backgroundbtn;
}

.blogs .contant .btns .btn2 {
  background-color: transparent;
  color: $basicColor;
  border-radius: 3px;
  margin-right: 1rem;
  border: 0.5px solid $basicColor;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

.blogs .contant .btns .btn2:hover {
  background-color: $backgroundbtn;
  border-color: $backgroundbtn;
  color: $basicColor;
}

/* End ABout Section *******************************************/

/* Start Feature Section */

.feature {
  overflow: hidden;
}

.feature .til h3 {
  font-family: $fontrelway;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.feature .til p {
  color: $pragrphColor;
  font-weight: 600;
  font-family: $fontfamily;
}

.feature .fulsec {
  position: relative;
}

.feature .fulls {
  margin-bottom: 8.8rem;
}

.feature .ful {
  margin-bottom: 2rem;
  cursor: pointer;
}
.feature .icons .bor {
  border-right: 1px dashed $pragrphColor;
  height: 100%;
}

.feature .icon i {
  color: $iconColor;
  border: 2px solid $secborder;
  padding: 30px 30px;
  border-radius: 50%;
  font-size: 25px;
  margin-bottom: 28px;
  cursor: pointer;
}

.feature .con h4 {
  color: $headersColor;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
}

.feature .con p {
  color: $pragrphColor;
  font-size: 12px;
}

.feature .borderr {
  width: 100%;
  border: 1px dashed $secborder;
  position: absolute;
  top: 55%;
}

.feature .boor1 {
  border-right: 1px dashed $secborder;
  height: 100%;
  position: absolute;
  left: 25%;
}

.feature .boor2 {
  border-right: 1px dashed $secborder;
  height: 100%;
  position: absolute;
  left: 50%;
}

.feature .boor3 {
  border-right: 1px dashed $secborder;
  height: 100%;
  position: absolute;
  left: 75%;
}

@media (min-width: 300px) and (max-width: 900px) {
  .feature .boor1,
  .boor2,
  .boor3 {
    display: none;
  }
}

/* End Feature Section *****************************************************************/

/* Start clents Section */

.clents {
  background-image: url(../imgs/clients-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
}

.clents .til h3 {
  font-family: $fontrelway;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $basicColor;
}

.clents .til p {
  color: $pragrphColor;
  font-weight: 600;
  font-family: $fontfamily;
}

.clents .sec {
  margin-bottom: 55px;
}

.clents .clent {
  padding: 0rem 5rem;
}

@media (min-width: 300px) and (max-width: 900px) {
  .clents .clent {
    padding: 0px !important;
  }
}

.clents .owl-dots {
    margin: auto;
    margin-top: 40px;
    text-align: center;
    display: block !important;
  }

  .clents .owl-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid $iconColor !important;
    margin: 10px 33px;
    padding: 1px;
    position: relative;
  }

  .clents .owl-dot span::after{

    content: "";
    width: 60px;
    height: 1px;
    position: absolute;
    top: 3px;
    left: 10px;
    background-color: #d9d9d9;


  }
  .clents  .owl-dot.active {
    background: #fff !important;
    border: 2px solid #ffffff;
   // padding: 5px;
   // width: 12px;
   // height: 12px;
  }


.clents .head h3 {
  position: absolute;
  top: 140px;
  font-size: 16px;
  color: $secborder;
  left: -25px;
  display: inline;
  text-transform: uppercase;
}

.clents .head span {
  font-size: 12px;
  font-family: $fontrelway;
  text-transform: none !important;
}

.clents .clent {
  overflow: hidden;
}

.clents .clent img {
  width: 100px;
  height: 100px;
  position: relative;
  left: 25px;
}

.clents .owl-item.active.center img {

    width: 120px;
    height: 120px;
}

.clents .owl-item.active.center .overlay {

    width: 120px;
    height: 120px;
}




@media (min-width: 300px) and (max-width: 900px) {
  .clents .clent img {
    position: relative;
    left: 45px;
  }
}

.clents .clent .owl-stage-outer {
  position: relative;
  left: 110px !important;
}

.clents .owl-item.active.center .overlay 

{
    display: none;
}

.clents .owl-item.active.center .head h3 {

    display: block !important;


}

.owl-item .head h3 {
    display: none;
}

.clents .clent .overlay {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #0e0e0e8c;
  left: 25px;
  bottom: 55px;
  border-radius: 50%;
}

@media (min-width: 300px) and (max-width: 900px) {
  .clents .clent .overlay {
    left: 45px;
  }
}

.clents .smlltil {
  padding: 1rem 10rem;
  position: relative;
  bottom: 15px;
  color: $iconColor;
  font-family: $fontfamily;
  font-weight: 500;
  padding-bottom: 2rem;
}

@media (min-width: 300px) and (max-width: 900px) {
  .clents .smlltil {
    padding: 0px !important;
    font-size: 12px;
  }
}

/* End Clents Section *******************************************/

/* Start teams Section */

.teams .til h3 {
  font-family: $fontrelway;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.teams .til p {
  color: $pragrphColor;
  font-weight: 600;
  font-family: $fontfamily;
  margin-bottom: 1rem;
}

.teams .til img {
  margin-bottom: 2rem;
}

.teams .ourteam {
  background-image: url("../imgs/team-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.teams .modify {
  height: 150px;
}

.teams .ourteam p {
  text-align: center;
  color: #d9d9d9;
  padding: 0rem 16rem 0rem;
  /* font-size: 18px; */
  font-weight: 600;
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 30%;
}

@media (min-width: 300px) and (max-width: 900px) {
  .teams .ourteam p {
    padding: 0rem 1rem !important;
    top: 17%;
    font-size: 10px;
  }
}

.bigteam {
  position: relative;
  bottom: 310px;
  left: 8%;
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 900px) {
  .bigteam .team {
    margin-bottom: 30px !important;
  }
}

.bigteam .team img {
  width: 320px;
}

@media (min-width: 300px) and (max-width: 900px) {
  .bigteam .team img {
    width: 140px;
    text-align: center;
    position: relative;

  }
}

/* End Teams Section ********************************************************/

/*Start Support Section */

.support {
  background-image: url("../imgs/support-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 50px;
}

.support .til h3 {
  font-family: $fontrelway;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.support .til p {
  color: $pragrphColor;
  font-weight: 600;
  font-family: $fontfamily;
  margin-bottom: 1rem;
}

.support .til img {
  position: relative;
  bottom: 63px;
}

.support .sups {
  background-color: $basicColor;
}

.support .puts {
  position: relative;
  top: 20px;
  margin-bottom: 35px;
}

.support .puts input {
  width: 100%;
  padding: 15px;
  margin-bottom: 2.5rem;
  border-color: #0202020d;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.support .puts input::placeholder {
  color: #02020257;
}

.support .puts textarea {
  width: 100%;
  padding: 45px;
  margin-bottom: 2.5rem;
  border: 2px solid #0202020d;
  border-radius: 6px;
  background-color: #f9f9f9;
}

.support .puts .btn button {
  position: relative;
  padding: 12px 45px;
  background: no-repeat;
  border: 2px solid #0202022b;
  border-radius: 20px;
  color: $secborder;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: $borderColor;
}

@media (min-width: 320px) and (max-width: 500px) {
  .support .puts .btn button {
    position: relative;
    left: 12% !important;
  }
}

.support .puts .btn button:hover {
  background-color: $iconColor;
  color: $headersColor;
}

.support .bigicons {
  background-color: #f9f9f9;
  border-radius: 2px;
}

.support .bigicons .icon i {
  border: 2px solid $borderColor;
  border-radius: 50%;
  padding: 35px;
  font-size: 25px;
  position: relative;
  left: 35px;
  color: $borderColor;
}

@media (min-width: 320px) and (max-width: 500px) {
    .support .bigicons .icon i {

    left: 20px;
    }
  }

.support .contt {
  padding: 10px;
  text-align: center;
}

.support .contt .border {
  border-bottom: 1px solid $iconColor;
  margin-bottom: 10px;
}

.support .contt h4{
  color: $headersColor;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  font-family: $fontrelway;
}


.support .contt p {

    color: #cccccc;
    font-size: 12px;
}


/* end support *********************************************************************/

.fotter {

    background-color: #403d46;
    width: 100%;
    
}


.fotter .icons {
    overflow: hidden;
    padding: 45px 25px 10px;
  }
  
  .fotter .icons ul {
    list-style: none;
  }
  
  .fotter .icons li {
    padding: 10px 14px;
    display: inline-block;
    border: 1px solid #8080801f;
    color: $secborder;
    border-radius: 50%;
    position: relative;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .fotter .icons .fb:hover {
    background-color: #5d82d1;
    color: #fff;
  }
  
  .fotter .icons .ins:hover {
    background-color: #c435b1;
    color: #fff;
  }
  
  .fotter .icons .twit:hover {
    background-color: #40bff5;
    color: #fff;
  }
  
  .fotter .icons .mail:hover {
    background-color: #eb5e4c;
    color: #fff;
  }
  
  .fotter .head h3{

    color: $basicColor;
    letter-spacing: 4px;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 50px;
    font-family: $fontrelway;
    text-transform: uppercase;
  }

  .fotter .head p {

    color: $iconColor;
    font-family: $fontrelway;
    font-weight: 400;
    margin-bottom: 5em;
  }

  @media (min-width: 320px) and (max-width: 500px) {
    .fotter .head h3{
       
        font-size: 14px;
        letter-spacing: 2px;
    }
  }

  @media (min-width: 320px) and (max-width: 500px) {
    .fotter .head p{
       
        font-size: 10px;
    }
  }



  .minfotter {

    background-color: #2d2933;

  }


 .minfotter .fot {

    display: flex;
    justify-content: space-between;
    overflow: hidden;
    color: $iconColor;
    
  }
  
  .minfotter .fot p {

    font-weight: 600;
    font-size: 14px;
    padding: 20px;
  }

  @media (min-width: 320px) and (max-width: 500px) {
    .minfotter .fot p{
       
        font-size: 10px;
        display: inline;
        
    }
  }
   
  .minfotter .fot span {

    color: $borderColor;
  }


 .login ul {
    list-style: none;
  }
  
 .login li {
   
    display: inline-block;
    padding: 20px;
    font-weight: 600;
    font-family: $fontfamily;
    cursor: pointer;
    transition: all .2s ease-out;
 }

 @media (min-width: 320px) and (max-width: 500px) {
    .login li{
       
       padding: 18px 0px;
        
    }
  }

 .login li:hover {

    color: $borderColor;
 }







